.portada {
    background: url(../img/pexels-karolina-grabowska-4977479.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portada::before{
    content: '';
    background: hsla(0, 0%, 0%, 0.685);
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
